
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
   
</head>
<body>
    <header>
        <h1>About Us</h1>
        <p>This page shows the About section</p>
    </header>

    <div class="container1">
        <h2>About Us</h2>
        <p>Developing lazy loading techniques to configure routing </p>

        <h2>Services</h2>
        <p>We can integrating about component in the angular app </p>
    </div>

    <footer>
        &copy; 2023  Designed by B.Sreenath
    </footer>
</body>
</html>
